<%= form_for @question, html: { class: 'question-form' } do |f| %>
  <% if @question.errors.any? %>
  <div id="error_explanation" class="alert alert-danger">
    <h3>Sorry, we couldn't create your question. There were <%= pluralize(@question.errors.count, "reason") %> why:</h3>
    <ul>
    <% @question.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  <p>
    <%= f.label :title %>
    <%= f.text_field :title, placeholder: 'My awesome question title (at least 40 characters)', class: 'form-control' %>
  </p>

  <p>
    <%= f.label :description %>
    <%= f.text_area :description, placeholder: 'Enter full question here with description (at least 150 characters)', class: 'form-control', rows: 10 %>
  </p>

  <p>
    <%= f.submit class: 'btn btn-primary' %>
  </p>
<% end %>
