<h1>Editing Question</h1>

<%= form_for :question, url: question_path(@question), method: :patch do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title, placeholder: 'My awesome question title' %>
  </p>

  <p>
    <%= f.label :description %><br>
    <%= f.text_area :description, placeholder: 'Enter full question here with description' %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= link_to 'Delete this Question', question_path(@question),
                    method: :delete, data: { confirm: 'Are you sure?' } %>

<%= link_to 'Back', questions_path %>
