<h3>Editing: "<%= @question.title %>"</h3>

<% if @question.errors.any? %>
<div id="error_explanation" class="alert alert-danger">
  <h3>Sorry, we couldn't edit your question. There were <%= pluralize(@question.errors.count, "reason") %> why:</h3>
  <ul>
  <% @question.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
  </ul>
</div>
<% end %>

<%= form_for :question, url: question_path(@question), method: :patch do |f| %>
  <p>
    <%= f.label :title %>
    <%= f.text_field :title, placeholder: 'My awesome question title (at least 40 characters)', class: 'form-control' %>
  </p>

  <p>
    <%= f.label :description %>
    <%= f.text_area :description, placeholder: 'Enter full question here with description (at least 150 characters)', class: 'form-control', rows: 10 %>
  </p>

  <p>
    <%= f.submit class: 'btn btn-primary' %>
  </p>
<% end %>

<p><%= link_to 'Delete this Question', question_path(@question),
                    method: :delete, data: { confirm: 'Are you sure you want to delete this question?' } %></p>

<p><%= link_to 'Back', questions_path %></p>
