<h1>Q: <%= @question.title %></h1>

<p><%= markdown @question.description %></p>

<p><%= link_to 'Edit this Question', edit_question_path(@question) %></p>



<h2><%= @question.answers.count %> Answers to this question:</h2>

<% if @question.answers.empty? == true %>
  <p>There are no answers yet. Make one!</p>
<% else %>
  <%= render @question.answers %>
<% end %>

<% if @question.errors.any?  %>
  <div id="error_explanation" class="alert alert-danger">
    <h3>Sorry, we coudn't create your reply. There were <%= pluralize(@answer.errors.count, "reason") %> why:</h3>
    <ul>
    <% @answer.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<h2>Enter your own answer below:</h2>
<%= form_for([@question, @question.answers.build]) do |f| %>
  <p>
    <%= f.text_area :description, placeholder: 'This is my amazing answer (at least 50 characters)', class: 'form-control', rows: 10 %>
  </p>
    <%= f.submit 'Answer', class: 'btn btn-primary'%>
  </p>
<% end %>

<%= link_to 'Back to Questions', questions_path %>
